@import '../../styles/main';

$main-menu-height: $nav-link-height + 2 * $navbar-padding-y;
$footer-height: $main-menu-height;

.home {
  &__hero {
    min-height: calc(100vh - #{$main-menu-height} - #{$footer-height});
  }
}
